<div class="overflow-x-auto w-full min-w-0 max-w-full">
	<table>
		<thead>
			<tr>
				<th>Device Path</th>
				<th>cordova.file.*</th>
				<th>iosExtraFileSystems</th>
				<th align="center">Capacitor</th>
				<th align="center">FileManager.SearchPathDirectory</th>
				<th align="center">r/w?</th>
				<th align="center">persistent?</th>
				<th align="center">OS clears</th>
				<th align="center">sync</th>
				<th align="center">private</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/</td>
				<td>applicationStorageDirectory</td>
				<td>-</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/appname.app/</td>
				<td>applicationDirectory</td>
				<td>bundle</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/appname.app/www/</td>
				<td>-</td>
				<td>-</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">N/A</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Documents/</td>
				<td>documentsDirectory</td>
				<td>documents</td>
				<td align="center">DOCUMENTS, DATA, EXTERNAL, EXTERNAL_STORAGE</td>
				<td align="center">.documentDirectory</td>
				<td align="center">r/w</td>
				<td align="center">Yes</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Documents/NoCloud/</td>
				<td>-</td>
				<td>documents-nosync</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r/w</td>
				<td align="center">Yes</td>
				<td align="center">No</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Library/</td>
				<td>-</td>
				<td>library</td>
				<td align="center">LIBRARY</td>
				<td align="center">.libraryDirectory</td>
				<td align="center">r/w</td>
				<td align="center">Yes</td>
				<td align="center">No</td>
				<td align="center">Yes?</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Library/NoCloud/</td>
				<td>dataDirectory</td>
				<td>library-nosync</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r/w</td>
				<td align="center">Yes</td>
				<td align="center">No</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Library/Cloud/</td>
				<td>syncedDataDirectory</td>
				<td>-</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r/w</td>
				<td align="center">Yes</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/Library/Caches/</td>
				<td>cacheDirectory</td>
				<td>cache</td>
				<td align="center">CACHE</td>
				<td align="center">.cachesDirectory</td>
				<td align="center">r/w</td>
				<td align="center">Yes*</td>
				<td align="center">Yes***</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
			</tr>
			<tr>
				<td>/var/mobile/Applications/&lt;uuid&gt;/tmp/</td>
				<td>tempDirectory</td>
				<td>-</td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">r/w</td>
				<td align="center">No**</td>
				<td align="center">Yes***</td>
				<td align="center">No</td>
				<td align="center">Yes</td>
			</tr>
		</tbody>
	</table>
</div>
