---
import Container from '../components/Container.astro';
import IoMail from '~icons/ion/mail';
import IoLogoGithub from '~icons/ion/logo-github';
import IoLogoLinkedin from '~icons/ion/logo-linkedin';
import App from '../layouts/App.astro';

// size="1.5em"
---

<App>
  <Container class="grid gap-4 py-4">
    <div class="flex flex-col gap-4 w-full max-w-lg mx-auto">
      <a
        href="mailto:pamiller.pdx@gmail.com"
        target="_blank"
        class="flex gap-2 border hover:bg-white hover:scale-105 shadow-none hover:shadow-lg rounded-md h-16 justify-center items-center transition"
      >
        <IoMail />
        <span>pamiller.pdx@gmail.com</span>
      </a>
      <a
        href="https://github.com/patdx"
        target="_blank"
        class="flex gap-2 border hover:bg-white hover:scale-105 shadow-none hover:shadow-lg rounded-md h-16 justify-center items-center transition"
      >
        <IoLogoGithub />
        <span>Github</span>
      </a>

      <a
        href="https://www.linkedin.com/in/pamiller"
        target="_blank"
        class="flex gap-2 border hover:bg-white hover:scale-105 shadow-none hover:shadow-lg rounded-md h-16 justify-center items-center transition"
      >
        <IoLogoLinkedin />
        <span>LinkedIn</span>
      </a>
    </div>
  </Container>
</App>
