---
import Container from '../components/Container.astro';
import IoMail from '~icons/ion/mail';
import IoLogoGithub from '~icons/ion/logo-github';
import IoLogoLinkedin from '~icons/ion/logo-linkedin';
import { App } from '../layouts/App';

// size="1.5em"
---

<App>
  <Container class="grid gap-4 py-4">
    <div class="mx-auto flex w-full max-w-lg flex-col gap-4">
      <a
        href="mailto:pamiller.pdx@gmail.com"
        target="_blank"
        class="flex h-16 items-center justify-center gap-2 rounded-md border shadow-none transition hover:scale-105 hover:bg-white hover:shadow-lg"
      >
        <IoMail />
        <span>pamiller.pdx@gmail.com</span>
      </a>
      <a
        href="https://github.com/patdx"
        target="_blank"
        class="flex h-16 items-center justify-center gap-2 rounded-md border shadow-none transition hover:scale-105 hover:bg-white hover:shadow-lg"
      >
        <IoLogoGithub />
        <span>Github</span>
      </a>

      <a
        href="https://www.linkedin.com/in/pamiller"
        target="_blank"
        class="flex h-16 items-center justify-center gap-2 rounded-md border shadow-none transition hover:scale-105 hover:bg-white hover:shadow-lg"
      >
        <IoLogoLinkedin />
        <span>LinkedIn</span>
      </a>
    </div>
  </Container>
</App>
