---
import Container from '../components/Container.astro';
import PostPreview from '../components/PostPreview.astro';
import App from '../layouts/App.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob<{
  url: string;
  frontmatter: {
    title: string;
    date: string;
  };
}>('./posts/*.{md,mdx}');

// .sort(
//   (a, b) =>
//     new Date(b.frontmatter.pubDate).valueOf() -
//     new Date(a.frontmatter.pubDate).valueOf()
// );
---

<App>
  <Container class="grid gap-4 py-4">
    <section>
      <div class="container mx-auto max-w-4xl">
        {
          posts.map((post) => (
            <a
              href={post.url.replace(/\.html$/, '')}
              class="block p-1 transition hover:bg-gray-200 active:bg-gray-300"
            >
              <span class="font-bold tabular-nums">
                {post.frontmatter.date}
              </span>{' '}
              {post.frontmatter.title}
            </a>
          ))
        }
      </div>
    </section>
  </Container>
</App>
