---
import { getCollection } from 'astro:content';
import { App } from '../layouts/App';
import { Projects } from './_projects';
import { getImage } from 'astro:assets';

const projects = await getCollection('project').then((projects) =>
  Promise.all(
    projects.map(async (project) => ({
      ...project,
      data: {
        ...project.data,
        coverImage: project.data.coverImage
          ? await getImage({
              // project.data.coverImage
              src: project.data.coverImage,
            })
          : undefined,
      },
    }))
  )
);
---

<App>
  <Projects projects={projects} />
  <!-- astro seems to deopt to not use tailwind
  unless there is at least one non-solidjs component in the page
  -->
  <div></div>
</App>
