---
import HeaderLink from './HeaderLink.astro';

const LINKS = [
  {
    title: 'About',
    url: '/',
  },
  {
    title: 'Projects',
    url: '/projects',
  },
  {
    title: 'Contact',
    url: '/contact',
  },
];
---

<div
  class="p-4 grid text-center grid-cols-3 divide-x divide-blue-100 sm:w-96 sm:mx-auto"
>
  {
    LINKS.map((link) => (
      <div class="px-2">
        <HeaderLink href={link.url}>{link.title}</HeaderLink>
      </div>
    ))
  }
</div>
