---
import BaseHead from '../components/BaseHead.astro';
import NavHeader from '../components/NavHeader.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patrick Miller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead />
  </head>
  <body>
    <div class="min-h-screen">
      <NavHeader />
      <slot />
    </div>
  </body>
</html>
